@if (!Companies_Form) {

<mat-card class="cardWithShadow theme-card">

    <mat-card-header>
        <div class="header-container">

            <mat-card-title class="m-b-0">
                Admin Access
            </mat-card-title>

            <button mat-flat-button color="primary" (click)="AddNewUser()">

                Add New Admin

            </button>

        </div>
    </mat-card-header>

    <mat-card-content class="b-t-1">

        <app-mat-table [columns]="tableColumns" 
        [tableData]="Users" 
        [showAction]="true" 
        [Extra_Column]="false"
        (editClick)="editUser($event)"
        (deleteClick)="deleteUser($event)">
        </app-mat-table>

    </mat-card-content>

</mat-card>

}  @else if (Companies_Form){
<mat-card class="cardWithShadow theme-card">

    <mat-card-header>
        <mat-card-title class="m-b-0">
            Admin Access
        </mat-card-title>
    </mat-card-header>

    <mat-card-content class="b-t-1">

        <form [formGroup]="CompanyForm">

            <div class="row">

                <div class="col-lg-4">

                    <mat-label class="f-w-600 m-b-8 d-block">
                        Company Name
                    </mat-label>

                    <mat-form-field appearance="outline" class="w-100">

                        <input matInput formControlName="name" placeholder="Enter Company Name">

                    </mat-form-field>

                </div>

                <div class="col-lg-4">

                    <mat-label class="f-w-600 m-b-8 d-block">
                        Mobile Number
                    </mat-label>

                    <mat-form-field appearance="outline" class="w-100">

                        <input matInput formControlName="phone" placeholder="Enter Mobile Number">

                    </mat-form-field>

                </div>

                <div class="col-lg-4">

                    <mat-label class="f-w-600 m-b-8 d-block">
                        Email
                    </mat-label>

                    <mat-form-field appearance="outline" class="w-100">

                        <input matInput formControlName="email" placeholder="Enter Email">

                    </mat-form-field>

                </div>

                <div class="col-lg-4">

                    <mat-label class="f-w-600 m-b-8 d-block">
                        Address
                    </mat-label>

                    <mat-form-field appearance="outline" class="w-100">

                        <input matInput formControlName="address" placeholder="Enter Address">

                    </mat-form-field>

                </div>


                <div class="col-lg-4">

                    <mat-label class="f-w-600 m-b-8 d-block">
                        GST Number
                    </mat-label>

                    <mat-form-field appearance="outline" class="w-100">

                        <input matInput formControlName="gst_number" placeholder="Enter GST Number">

                    </mat-form-field>

                </div>

                <div class="col-lg-4">
                    <mat-label class="f-w-600 m-b-8 d-block">Role</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-select formControlName="role_id" placeholder="Select Your Role">
                        @for(option of Roles; track option.id) {
                        <mat-option [value]="option.id" >{{option.name}}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>

            </div>

            <div class="m-t-12">
                <button mat-stroked-button class="me-3 Cancel_Button" (click)="cancelComapny()">
                    Cancel
                </button>


                <button mat-flat-button color="primary" (click)="submit(CompanyForm)">
                    {{ Update_Button ? 'Update' : 'Submit' }}
                </button>
            </div>

        </form>

    </mat-card-content>

</mat-card>
} 

