<mat-card class="cardWithShadow theme-card">

    <mat-card-header>

        <div class="header-container">

            <mat-card-title class="m-b-0">
                Branch Access
            </mat-card-title>

            @if (!Branch_Forms) {

            <button mat-flat-button color="primary" (click)="AddNewUser()">

                Add New

            </button>

            }

        </div>

    </mat-card-header>

    @if (!Branch_Forms) {

    <mat-card-content class="b-t-1">

        <app-mat-table [columns]="tableColumns" [tableData]="Branch" [showAction]="true" [Extra_Column]="false"
            (editClick)="editUser($event)" (deleteClick)="deleteUser($event)">
        </app-mat-table>

    </mat-card-content>

    }

    @else {

    <mat-card-content class="b-t-1">

        <form [formGroup]="BranchForm">

            <div class="row">
                <div class="col-lg-4">
                    <mat-label class="f-w-600 m-b-8 d-block">Company <span class="text-danger">*</span></mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-select formControlName="company_id" placeholder="Select Your Company">
                        @for(option of Companies; track option.id) {
                        <mat-option [value]="option.id">{{option.name}}</mat-option>
                        }
                      </mat-select>
                      @if (BranchForm.get('company_id')?.hasError('required')) {
                        <mat-error>Company is required</mat-error>
                      }
                    </mat-form-field>
                </div>

                <div class="col-lg-4">
                    <mat-label class="f-w-600 m-b-8 d-block">Branch Name <span class="text-danger">*</span></mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput formControlName="name" placeholder="Enter Branch Name">
                        @if (BranchForm.get('name')?.hasError('required')) {
                          <mat-error>Branch name is required</mat-error>
                        } @else if (BranchForm.get('name')?.hasError('maxlength')) {
                          <mat-error>Branch name cannot exceed 100 characters</mat-error>
                        }
                    </mat-form-field>
                </div>

                <div class="col-lg-4">
                    <mat-label class="f-w-600 m-b-8 d-block">Mobile Number <span class="text-danger">*</span></mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput formControlName="phone" placeholder="Enter 10-digit Mobile Number">
                        @if (BranchForm.get('phone')?.hasError('required')) {
                          <mat-error>Mobile number is required</mat-error>
                        } @else if (BranchForm.get('phone')?.hasError('pattern')) {
                          <mat-error>Enter a valid 10-digit mobile number</mat-error>
                        }
                    </mat-form-field>
                </div>

                <div class="col-lg-4">
                    <mat-label class="f-w-600 m-b-8 d-block">Email <span class="text-danger">*</span></mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput formControlName="email" placeholder="Enter Email">
                        @if (BranchForm.get('email')?.hasError('required')) {
                          <mat-error>Email is required</mat-error>
                        } @else if (BranchForm.get('email')?.hasError('email')) {
                          <mat-error>Enter a valid email address</mat-error>
                        }
                    </mat-form-field>
                </div>

                <div class="col-lg-4">
                    <mat-label class="f-w-600 m-b-8 d-block">Address</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput formControlName="location" placeholder="Enter Address">
                        @if (BranchForm.get('location')?.hasError('maxlength')) {
                          <mat-error>Address cannot exceed 200 characters</mat-error>
                        }
                    </mat-form-field>
                </div>

            </div>

            <div class="m-t-12">

                <button mat-stroked-button class="me-3 Cancel_Button" (click)="cancelBranch()">

                    Cancel

                </button>

                <button mat-flat-button color="primary" (click)="submit(BranchForm)">

                    {{Update_button ? 'Update' : 'Submit'}}

                </button>

            </div>

        </form>

    </mat-card-content>

    }

</mat-card>