<!-- ============================================================== -->
<!-- Only router without any element -->
<!-- ============================================================== -->
<mat-sidenav-container
  dir="ltr"
  [class]="'blue_theme ' + currentThemeClass"
  style="height: auto !important; min-height: 100vh !important; overflow: visible !important; position: relative !important;"
>
  <mat-sidenav-content style="overflow-y: auto !important; overflow-x: hidden !important; height: auto !important; min-height: 100vh !important; position: relative !important;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>