<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <div class="header-container">
      <mat-card-title class="m-b-0">Workforce Requests</mat-card-title>
      <div class="actions">
        <button mat-flat-button class="btn-rounded btn-gradient">
          <mat-icon>add</mat-icon> New Request
        </button>
      </div>
    </div>
  </mat-card-header>
  
  <mat-card-content class="b-t-1">
    <app-mat-table 
      [columns]="tableColumns"
      [tableData]="dataSource"
      [showAction]="true"
      [showView]="true"
      [showEdit]="false"
      [showDelete]="true"
      [showSearch]="true"
      (ViewClick)="viewRequest($event)"
      (deleteClick)="deleteRequest($event)">
    </app-mat-table>
  </mat-card-content>
</mat-card>
