<mat-card class="cardWithShadow theme-card">

    <mat-card-header>

        <div class="header-container">

            <mat-card-title class="m-b-0">
                Product Attributes
            </mat-card-title>

            @if (!ProductAttribute_Forms && perm.hasRoleAction('canCreate')) {
            <button mat-flat-button color="primary" (click)="AddNewUser()">
                Add New Attribute
            </button>
            }

        </div>

    </mat-card-header>

    @if (!ProductAttribute_Forms) {
    <mat-card-content class="b-t-1">

        <app-mat-table [columns]="tableColumns" [tableData]="ProductAttributes" [showAction]="true" [showView]="perm.hasRoleAction('canRead')" [Extra_Column]="false"
            [showEdit]="perm.hasRoleAction('canUpdate')" [showDelete]="perm.hasRoleAction('canDelete')"
            (editClick)="editUser($event)" (deleteClick)="deleteUser($event)" (ViewClick)="viewItem($event)">
        </app-mat-table>

    </mat-card-content>
    }
    @else {
    <mat-card-content class="b-t-1">

        <form [formGroup]="ProductAttributeForm">
            <div class="row">
                <div class="col-lg-4">
                    <mat-label class="f-w-600 m-b-8 d-block">Attribute Code <span class="text-danger">*</span></mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput formControlName="AttributeNameCode" placeholder="Enter Attribute Code">
                        @if (ProductAttributeForm.get('AttributeNameCode')?.hasError('required')) {
                          <mat-error>Attribute code is required</mat-error>
                        } @else if (ProductAttributeForm.get('AttributeNameCode')?.hasError('maxlength')) {
                          <mat-error>Attribute code cannot exceed 50 characters</mat-error>
                        }
                    </mat-form-field>
                </div>

                <div class="col-lg-4">
                    <mat-label class="f-w-600 m-b-8 d-block">Name <span class="text-danger">*</span></mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput formControlName="Name" placeholder="Enter Attribute Name">
                        @if (ProductAttributeForm.get('Name')?.hasError('required')) {
                          <mat-error>Attribute name is required</mat-error>
                        } @else if (ProductAttributeForm.get('Name')?.hasError('maxlength')) {
                          <mat-error>Attribute name cannot exceed 100 characters</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>

            <div class="m-t-12">
                <button mat-stroked-button class="me-3 Cancel_Button" (click)="cancelProductAttribute()">
                    Cancel
                </button>
                <button mat-flat-button color="primary" (click)="submit(ProductAttributeForm)">
                    {{Update_button ? 'Update' : 'Submit'}}
                </button>
            </div>
        </form>

    </mat-card-content>
    }

</mat-card>
