<mat-card class="cardWithShadow theme-card">

    <mat-card-header>
        <mat-card-title class="m-b-0">
            {{ 'change_password.title' | translate }}
        </mat-card-title>
    </mat-card-header>

    <mat-card-content class="b-t-1">

        <form [formGroup]="ChangePasswordForm">
            <div class="row">
                <div class="col-lg-4">
                    <mat-label class="f-w-600 m-b-8 d-block">{{ 'change_password.current' | translate }} <span class="text-danger">*</span></mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput [type]="hideCurrent ? 'password' : 'text'" formControlName="currentPassword" [placeholder]="'change_password.placeholder_current' | translate">
                        <button mat-icon-button matSuffix type="button" (click)="hideCurrent = !hideCurrent">
                            <mat-icon>{{hideCurrent ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        @if (ChangePasswordForm.get('currentPassword')?.touched && ChangePasswordForm.get('currentPassword')?.hasError('required')) {
                        <mat-error>{{ 'change_password.error_current_required' | translate }}</mat-error>
                        }
                    </mat-form-field>
                </div>

                <div class="col-lg-4">
                    <mat-label class="f-w-600 m-b-8 d-block">{{ 'change_password.new' | translate }} <span class="text-danger">*</span></mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="newPassword" [placeholder]="'change_password.placeholder_new' | translate">
                        <button mat-icon-button matSuffix type="button" (click)="hideNew = !hideNew">
                            <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        @if (ChangePasswordForm.get('newPassword')?.touched && ChangePasswordForm.get('newPassword')?.hasError('required')) {
                        <mat-error>{{ 'change_password.error_new_required' | translate }}</mat-error>
                        }
                        @if (ChangePasswordForm.get('newPassword')?.touched && ChangePasswordForm.get('newPassword')?.hasError('minlength')) {
                        <mat-error>{{ 'change_password.error_minlength' | translate }}</mat-error>
                        }
                    </mat-form-field>
                </div>

                <div class="col-lg-4">
                    <mat-label class="f-w-600 m-b-8 d-block">{{ 'change_password.confirm' | translate }} <span class="text-danger">*</span></mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword" [placeholder]="'change_password.placeholder_confirm' | translate">
                        <button mat-icon-button matSuffix type="button" (click)="hideConfirm = !hideConfirm">
                            <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        @if (ChangePasswordForm.get('confirmPassword')?.touched && ChangePasswordForm.get('confirmPassword')?.hasError('required')) {
                        <mat-error>{{ 'change_password.error_confirm_required' | translate }}</mat-error>
                        }
                        @if (ChangePasswordForm.get('confirmPassword')?.touched && ChangePasswordForm.get('confirmPassword')?.hasError('passwordMismatch')) {
                        <mat-error>{{ 'change_password.error_mismatch' | translate }}</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>

            <div class="m-t-12">
                <button mat-stroked-button class="me-3 Cancel_Button" (click)="onCancel()" [disabled]="isLoading">
                    {{ 'common.cancel' | translate }}
                </button>
                <button mat-flat-button color="primary" (click)="onSubmit(ChangePasswordForm)" [disabled]="isLoading || ChangePasswordForm.invalid">
                    @if (isLoading) {
                      <span>{{ 'profile.saving' | translate }}</span>
                    } @else {
                      <span>{{ 'common.update' | translate }}</span>
                    }
                </button>
            </div>
        </form>

    </mat-card-content>

</mat-card>
