<mat-card class="cardWithShadow theme-card">

    <mat-card-header>

        <div class="header-container">

            <mat-card-title class="m-b-0">
                Employees Access
            </mat-card-title>

            @if (!Employee_Forms) {

            <button mat-flat-button color="primary" (click)="AddNewUser()">

                Add New Employees

            </button>

            }

        </div>

    </mat-card-header>

    @if (!Employee_Forms) {

    <mat-card-content class="b-t-1">

        <app-mat-table [columns]="tableColumns" [tableData]="Employees" [showAction]="true" [Extra_Column]="false"
            (editClick)="editUser($event)" (deleteClick)="deleteUser($event)">
        </app-mat-table>

    </mat-card-content>

    }

    @else {

    <mat-card-content class="b-t-1">

        <form [formGroup]="EmployeeForm">

            <div class="row">
                <div class="col-lg-4">
                    <mat-label class="f-w-600 m-b-8 d-block">Comapny</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-select formControlName="company_id" placeholder="Select Your Company">
                        @for(option of Companies; track option.id) {
                        <mat-option [value]="option.id">{{option.name}}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-lg-4">
                    <mat-label class="f-w-600 m-b-8 d-block">Branch</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-select formControlName="branch_id" placeholder="Select Your Branch">
                        @for(option of Branch; track option.id) {
                        <mat-option [value]="option.id">{{option.name}}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-lg-4">
                    <mat-label class="f-w-600 m-b-8 d-block">Role</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-select formControlName="role_id" placeholder="Select Your Role">
                        @for(option of Roles; track option.id) {
                        <mat-option [value]="option.id">{{option.name}}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>

                <div class="col-lg-4">

                    <mat-label class="f-w-600 m-b-8 d-block">
                        Employee Name
                    </mat-label>

                    <mat-form-field appearance="outline" class="w-100">

                        <input matInput formControlName="name" placeholder="Enter Branch Name">

                    </mat-form-field>

                </div>

                <div class="col-lg-4">

                    <mat-label class="f-w-600 m-b-8 d-block">
                        Mobile Number
                    </mat-label>

                    <mat-form-field appearance="outline" class="w-100">

                        <input matInput formControlName="mobilenumber" placeholder="Enter Mobile Number">

                    </mat-form-field>

                </div>

                <div class="col-lg-4">

                    <mat-label class="f-w-600 m-b-8 d-block">
                        Email
                    </mat-label>

                    <mat-form-field appearance="outline" class="w-100">

                        <input matInput formControlName="email" placeholder="Enter Email">

                    </mat-form-field>

                </div>

            </div>

            <div class="m-t-12">

                <button mat-stroked-button class="me-3 Cancel_Button" (click)="cancelBranch()">

                    Cancel

                </button>

                <button mat-flat-button color="primary" (click)="submit(EmployeeForm)">

                    {{UpdateButton ? 'Update' : 'Submit'}}

                </button>

            </div>

        </form>

    </mat-card-content>

    }

</mat-card>