<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <div class="header-container">
      <mat-card-title class="m-b-0">Top Paying Clients</mat-card-title>
      <div class="actions">
        <button mat-icon-button color="inherit">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-header>
  
  <mat-card-content class="b-t-1">
    <app-mat-table 
      [columns]="tableColumns"
      [tableData]="dataSource"
      [showAction]="false"
      [customTemplates]="{ profile: profileTpl, hrate: hrateTpl, status: statusTpl }">
    </app-mat-table>

    <!-- Custom Templates -->
    <ng-template #profileTpl let-element>
      <div class="d-flex align-items-center">
        <img [src]="element.imagePath" alt="users" width="50" class="rounded-circle" />
        <div class="m-l-16">
          <h6 class="text-truncate-2 f-s-14 f-w-600 m-b-0">
            {{ element.uname }}
          </h6>
          <span class="f-s-12 text-muted">{{ element.position }}</span>
        </div>
      </div>
    </ng-template>

    <ng-template #hrateTpl let-element>
      <span><span class="f-w-600 f-s-14">${{ element.hrate }}</span>/hour</span>
    </ng-template>

    <ng-template #statusTpl let-element>
      <span class="bg-light-{{ element.progress }} text-{{ element.progress }} border-{{ element.progress }} rounded f-w-600 p-6 p-y-4 f-s-12">
        {{ element.priority | titlecase }}
      </span>
    </ng-template>
  </mat-card-content>
</mat-card>