<mat-card class="cardWithShadow theme-card">

    <mat-card-header>
        <div class="header-container">

            <mat-card-title class="m-b-0">
                Profile
            </mat-card-title>
        </div>
    </mat-card-header>
    <mat-card-content class="b-t-1">
    <form [formGroup]="ProfileForm">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <mat-label class="f-w-600 m-b-8 d-block">
                    Name <span class="text-danger">*</span>
                </mat-label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput formControlName="name" placeholder="Enter Name">
                    @if (ProfileForm.get('name')?.hasError('required')) {
                    <mat-error>Name is required</mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="col-lg-4 col-md-6">
                <mat-label class="f-w-600 m-b-8 d-block">
                    Email <span class="text-danger">*</span>
                </mat-label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput formControlName="email" placeholder="Enter Email">
                </mat-form-field>
            </div>

            <div class="col-lg-4 col-md-6">
                <mat-label class="f-w-600 m-b-8 d-block">
                    Mobile Number <span class="text-danger">*</span>
                </mat-label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput formControlName="mobilenumber" placeholder="Enter Mobile Number">
                </mat-form-field>
            </div>

            <div class="col-lg-4 col-md-6">
                <mat-label class="f-w-600 m-b-8 d-block">
                    User Type <span class="text-danger">*</span>
                </mat-label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput formControlName="userType" placeholder="Enter User Type">
                </mat-form-field>
            </div>

            <div class="col-lg-4 col-md-6">
                <mat-label class="f-w-600 m-b-8 d-block">
                    Address <span class="text-danger">*</span>
                </mat-label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput formControlName="address" placeholder="Enter Address">
                    @if (ProfileForm.get('address')?.hasError('required')) {
                    <mat-error>Address is required</mat-error>
                    }
                </mat-form-field>
            </div>
        </div>

        <div class="m-t-12">
            <button mat-stroked-button class="me-3 Cancel_Button" type="button" (click)="ProfileForm.reset()">
                Cancel
            </button>
            <button mat-flat-button color="primary" type="button" (click)="onSubmit(ProfileForm)">
                Update
            </button>
        </div>
    </form>
</mat-card-content>
</mat-card>
