/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
}
.Cancel_Button{
    border:1px solid red !important;
    color: red !important;
}

.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }
  
  @media (max-width: 768px) {
    .header-container {
      flex-wrap: wrap;
    }
  
    .header-container button {
      width: 100%;
    }
  }